body {
    font-family: "Comfortaa", sans-serif !important;
}

.container-fluid.nav-bar, .nav-bar.container-sm, .nav-bar.container-md, .nav-bar.container-lg, .nav-bar.container-xl {
    position: absolute !important;
    z-index: 9;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active {
    color: #DA9F5B;
}
.nav-link {
    color: #FFFBF2;
}
.cart{
    color: #fff;
    margin-top: 8px;
    display: block;
    font-size: 18px;
}
.text-primary {
    color: #DA9F5B !important;
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(51, 33, 29, 0.7);
    z-index: 1;
}

.overlay-bottom::after {
    bottom: -1px;
    background: url(../images/overlay-bottom.png);
}

.overlay-bottom::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 15px;
    left: 0;
    z-index: 1;
}
.product_card{
  cursor: pointer;
}
.Product_img {
    position: relative !important;
}
.menu-price {
    position: absolute;
    margin: 0;
    top: -5px;
    right: 20px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
    color: #33211D;
    background: #DA9F5B;
}
.addtocart{
  padding: 6px 12px;
  border-radius:100px;
  border:none;
  font-size:1em;
  position:relative;
  background:#DA9F5B;
  cursor:pointer;
  overflow:hidden;
  transition:transform 0.1s;
  z-index:1;
}
.addtocart:hover{
  transform:scale(1.1);
}
.footer {
    background: linear-gradient(rgba(51, 33, 29, 0.9), rgba(51, 33, 29, 0.9)), url(../images/bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.send_email {
    height: 100%;
    color: #212529;
    background-color: #DA9F5B;
    border-color: #DA9F5B;
}

.send_email:hover {
    color: #212529;
    background-color: #d38d3c;
    border-color: #d18731;
}

.team {
    color: #DA9F5B;
    text-decoration: none;
    background-color: transparent;

}
.back-to-top {
    position: fixed;
    display: none;
    background-color: #d38d3c;
    color: #212529;
    width: 40px;
    height: 40px;
    right: 30px;
    bottom: 30px;
    z-index: 11;
  }
  #scrollBtn {
    display: none; 
    position: fixed;
    bottom: 40px;
    right: 40px;
    height: 50px;
    width: 50px;
    background-color: #d38d3c;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
    transition: all .4s;
}
#scrollBtn:hover{
    color: #d38d3c;
    background-color: white;
    border: 2px solid #d38d3c;
}
#scrollBtn #btn-up{
    padding-top: 4px;
    font-size: 20px;
}

/*----------------------------- cart section ----------------------------- */
.cart-section{
    width: 400px;
    background-color:#fff;
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    z-index: 9999;
    padding: 24px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
}
.cart-section.show-cart {
    right: 0 !important;
}

.closeCart{
    background-color: #d38c3cad;
    width: 37px;
    height: 37px;
    line-height: 37px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cart_product{
    height: 120px;
}
.img-left{
    height: 100%;
}
.cart_product .card-title{
    font-size: 12px;
    font-weight: 800;
}
.cart_product .price{
    font-size: 12px;
    font-weight: 400;
}
.remove_product{
    background-color: #d38c3c6a;
    width: 27px;
    height: 27px;
    font-size: 12px;
    line-height:27px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
.card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.card-bottom .counts{
    width: 100px;
    height: 30px;
    border: 2px solid rgb(134 134 134 / 50%);
    text-align: center;
    display: inline-block;
    position: relative;
    margin-right: 20px;
    touch-action:manipulation;
}
.card-bottom .counts_btns{
    position: absolute;
    display: block;
    padding: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 0;
    background-color: transparent;
    color:  rgb(134 134 134 / 50%);
    font-size: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.card-bottom .minus{
    left: 0;
    text-align: left;
    padding-left: 15px;
}
.card-bottom .plus{
    right: 0;
    text-align: right;
    padding-right: 15px;
}
.card-bottom .product_count{
    width: 35px;
    border: 0px;
    height: 30px;
    background: 0px 0px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    text-align: center;
    margin-left: 0 !important;
}
.card-bottom .product_count:focus{
    outline: none;  
}

.cart_products {
    overflow-y: auto;
    max-height: 400px;
    padding-right: 16px;
    scrollbar-width: thin; 
    scrollbar-color: #d38c3c6a #f0f0f0; 
}

.cart_products::-webkit-scrollbar {
    width: 8px;
}

.cart_products::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.cart_products::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 20px;
    border: 2px solid #f0f0f0;
}

.cart_products::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0;
}

.cart_products::-webkit-scrollbar-thumb:active {
    background-color: #909090;
}


#total_price{
    color: #d18731;
    font-weight: 800;
}
.checkout{
    background-color: #DA9F5B;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    text-align: center;
    cursor: pointer;
}

@media (max-width: 991.98px) {
    .container-fluid.nav-bar, .nav-bar.container-sm, .nav-bar.container-md, .nav-bar.container-lg, .nav-bar.container-xl {
        position: relative;
        background: #33211D;
    }
}